.lending-page {
    display: flex;
    flex-direction: row;
    flex: 1;
  }
  .lending-books-div {
    border-right: 1px solid #e5e5e5;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 15px;
    height: 85vh;
  }

  .lending-books-div::-webkit-scrollbar {
    display: none;
}
  
  .chat-form {
    padding: 30px 50px;
    flex: 1;

  }
  
  .chat-container {
    overflow-y: scroll;
    height: 60vh;

  }

  .chat-container::-webkit-scrollbar {
    display: none;
}
  
  .messages-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
  }

  .message-box {
    border-radius: 20px;
    padding: 15px;
    width: fit-content;
  }

  .me-message {
    border: 1px solid #49c39f;
    align-self: flex-end;
  }

  .you-message {
    background-color: #49c39f;
    color: #fff;
  }

  .message-input-container {
    display:flex;
    align-items: center;
    margin-top: 20px;
  }
  .message-input {

    border: 1px solid#49c39f;
    border-radius: 10px 0 0 10px;
    width: 85%;
    height: 100px;
    font-size: 16px;
    padding: 15px;
    resize: none;
  }

  .send-message-button {
    background-color: #49c39f;
    border: 1px solid#49c39f;
    height: 132px;
    color: #fff;
    flex: 1;
    border-radius: 0 10px 10px 0;
    font-size: 17px;
  }