.borrow-page {
  padding-top: 40px;
  padding-left: 40px;
}

.searchTerm {
  font-size: 20px;
  padding-left: 15px;
}

.available-books {
  padding-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.location {
  padding-top: 15px;
  font-size: 15px;
}

.borrow-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-div {
  display: flex;
}

.checked-out {
  width: 161px;
  height: 55px;
  font-size: 17px;
  color: #959899;
  font-weight: bold;
  text-align: center;
  background-color: white;
  border: none;
  display: table;
}

span {
  height: 55px;
  display: table-cell;
  vertical-align: middle;
}
