.borrow-page {
  padding-top: 40px;
  padding-left: 40px;
}

.searchTerm {
  font-size: 20px;
  padding-left: 15px;
}

.available-books {
  padding-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

.location {
  padding-top: 15px;
  font-size: 15px;
}

.borrow-books {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.button-div {
  display: flex;
}

.checked-out {
  width: 161px;
  height: 55px;
  font-size: 17px;
  color: #959899;
  font-weight: bold;
  text-align: center;
  background-color: white;
  border: none;
  display: table;
}

span {
  height: 55px;
  display: table-cell;
  vertical-align: middle;
}

.request-message-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 500px;
  padding: 40px;
  gap: 30px;
  background-color: #f8f8f8;
}

.request-message-header {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
}

.request-message-box {
  border: 1px solid#49c39f;
  border-radius: 10px;
  width: 95%;
  height: 100px;
  font-size: 16px;
  padding: 15px;
  resize: none;
}
