.booklist {
  width: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lending {
  font: bold 25px "Roboto";
  padding: 20px 0px;
}

.lending-number {
  font: bold 14px #777777;
}

.lend-book-card {
  width: 270px;
  min-height: 40px;
  background-color: white;
  margin-top: 20px;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.book-title {
  font-size: 16px;
  font-weight: bold;
}

.book-author {
  font-size: 16px;
}

.trash-button {
   background-color: transparent;
   border: none;
   height: 50px;
}

.trash-btn {
  margin: auto;
  width: 20px;
  height: 25px;
  padding: 10px;
}
