.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
  border-bottom: 1px solid #e5e5e5;
}

.app-name {
  font-size: 30px;
  font-weight: bold;
  margin-left: 40px;
}

.btn-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 40px;
}

.loginBtn,
.registerBtn,
.logoutBtn,
.borrowBtn,
.lendBtn {
  background-color: #49c39f;
  width: 127px;
  height: 42px;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 17px;
  margin: 0px 10px;
}

.user-info {
  margin-left: 20px;
}

.user-email-button {
  font-size: 16px;
  float: right;
  background: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.user-book-num {
  color: #a45faa;
  font-size: 14px;
}

#logout-menu {
  margin-top: 65px;
 ul{
    display: flex;
  flex-direction: column;
  }
}
